.App{
  display: flex;
  flex-direction: column;
  /* width: 100%;
  background: linear-gradient(to top right,#F24C4C,#F7D716); */
  position: relative;
  
  
  
}
.row, .col{
  display: flex;
}
.col{
  flex-direction: column;
}