@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
  
}
body{
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
  color: #FFF;
  
}
textarea{
  font-family: "Poppins",sans-serif;
  color: #000;
  caret-color: #000;
  height: 10rem;
  letter-spacing: 1.5px;
}
textarea:focus-visible,input:focus-visible{
  outline: none;
}
input,textarea{
  font-size: 18px;
  border-radius: 8px;
  border: 5px solid #ec9b3b;
}
input{
  height: 2vw;
}
label{
  color:#FFF;
  margin: 0.3rem 0 0.4rem 0;
}